{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('product') }}
        {{ parent() }}
        {# <link rel="stylesheet" href="{{ asset('scss/mainpage.css') }}"> #}

    {% endblock %}


    <div class="wrapper1"></div>
    <div class="wrapper">
        <div class="container-fluid product-page-container">
            <div class="row h-100 align-items-center text-center">
            <div class="col-8 mx-auto">
                {{ form(brandForm) }}
                {% if form %}

                {{ form(form) }}
                {% endif %}
            </div>


                {% include 'main/top-search.html.twig' %}

                <div class="col-8 mx-auto product-card py-5 my-5">
                    <div class="row">

                        <div class="col">
{#                            {% if toolResults %}#}
{#                                {% include 'main/search-result.html.twig' %}#}
{#                                {% else %}#}
{#                            {% include 'product/product-card.html.twig' %}#}
{#                            {% endif %}#}
                            <div id="the-basics">
                                <input class="typeahead" type="text" placeholder="States of USA">
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>


    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('product') }}

    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        /* const $ = require('jquery');
         global.$ = global.jQuery = $;*/
        $(document).ready(function () {
            var brands = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.whitespace,
                queryTokenizer: Bloodhound.tokenizers.whitespace,

                remote: {
                    //todo: url as data-attr (make formType), move
                    url: "{{ path('search') }}/%QUERY%",
                    wildcard: '%QUERY%',
                    filter: function (brands){
                        return $.map(brands, function (brand) {
                            return {
                                brand_id: brand.id,
                                brand_name: brand.name
                            }
                        });
                    }
                }
            })
            brands.initialize();

            //todo: id
            $('#brand_select_text').typeahead(
                {
                    hint: true
                },
                {
                    name: 'brands',
                    source: brands.ttAdapter(),
                    display: 'brand_name'
                }
            )
            console.log("lao")
        });

    </script>
{% endblock %}

